* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  text-decoration: none;
}

#screen {
  width: 100%;
  /* border: 1px solid black; */
  height: 100vh;
}

/* navbar */

#navbar {
  width: 100%;
  height: 12%;
  /* border: 1px solid black; */
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid rgb(245, 237, 237);
  position: fixed;
  top: 0;
  z-index: 1;
}
#logo {
  width: 7%;
  /* border: 1px solid blue; */
  height: 100%;
}

#logo > div > img {
  width: 120px;
  height: 45px;
  padding-top: 15px;
}

#navigation {
  width: 33%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  font-weight: 500;
  position: relative;
}

#men:hover #drop-down {
  display: block;
}

/* ----------------------dropdown */

#drop-down {
  height: 200px;
  width: 300px;
  background-color: red;
  position: absolute;
  left: 180px;
  top: 85px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  text-align: center;
  display: none;
}

#drop-down > div {
  padding-top: 15px;
}
#dropdown-list > li {
  color: black;
  width: 100%;
}

#navigation > a:nth-child(6) {
  padding-bottom: 5px;
}
#navigation small {
  color: red;
  font-weight: bold;
}

#navigation > a {
  text-decoration: none;
  color: black;
}

#search {
  /* border: 1px solid brown; */
  width: 33%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#search > div > i {
  position: absolute;
  top: 42px;
  left: 10px;
  color: gray;
}

#search > div > input {
  width: 480px;
  height: 35px;
  padding-left: 45px;
  border: none;
  background-color: #f5f5f6;
}

#profile {
  /* border: 1px solid green; */
  width: 12%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#profile > div > a {
  color: black;
}

/* body section ***************/

#body {
  width: 100%;
  margin-top: 80px;
  /* background-color: red; */
}

#top-body {
  width: 100%;
  width: 90%;
  margin: auto;
}
#top-body > div > img {
  height: 435px;
  width: 100%;
  margin-top: 40px;
}

#sale-offer {
  position: absolute;
  right: 390px;
  top: 185px;
}

#side-sticky {
  background-color: #535766;
  color: white;
  width: 19%;
  height: 50px;
  position: fixed;
  right: -8%;
  bottom: 35%;
  transform: rotate(90deg);
  z-index: 1;
}
#side-sticky > h4 {
  transform: rotate(180deg);
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 2px;
}
#side-sticky > i {
  position: absolute;
  /* border: 1px solid red; */
  left: 32px;
  bottom: 23px;
}

#empty-bell {
  width: 50px;
  height: 50px;
  background-color: #1d85fc;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 95px;
  z-index: 2;
}

#empty-bell > img {
  padding: 10px 0 0 8px;
}

/* middle */

#middle-body {
  width: 100%;
}
.image-section-1 {
  display: flex;
  width: 100%;
}
.image-section-1 > div > img {
  width: 100%;
  height: auto;
  margin-top: 7px;
}

.middle-heading > div > img {
  width: 100%;
  height: 105px;
  margin-top: 7px;
}
.image-section {
  display: flex;
}
.image-section > div > img {
  width: 100%;
  height: 200px;
  margin-top: 7px;
}

/* new section image */

#image-section-new {
  /* background-color: yellow; */
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 35px 10px;
  /* border: 1px solid red; */
  margin: auto;
}

#image-section-new > div > img {
  /* height: 250px; */
  height: 280px;

  width: 220px;
}

/* fotter */

#footer {
  width: 100%;
  margin-top: 100px;
}

#footer-child {
  width: 80%;
  margin: auto;
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#useful-links {
  margin-top: 20px;
}
#onlineShopping {
  width: 12%;
  /* border: 1px solid blue; */
}

ul {
  padding-top: 15px;
}

li {
  list-style: none;
  color: gray;
  font-family: "Times New Roman", Times, serif;
  line-height: 25px;
}

#customerPolicies {
  width: 12%;
  /* border: 1px solid blue; */
}

#experience {
  width: 30%;
  /* border: 1px solid blue; */
}
#experience > div > img {
  margin-top: 25px;
  width: 160px;
  height: 40px;
}
#social-link {
  margin-top: 20px;
}
#experience > h5 {
  margin-top: 20px;
}

#guarantee {
  width: 30%;
}

p,
span {
  color: gray;
  line-height: 27px;
}
